<div class="profile-container">
  <h1>Profile</h1>
  <h2>My Books</h2>
  <div class="book-grid-container">
    <div class="book" *ngFor="let book of userBooks">
      <!-- Use *ngIf to show books that match the criteria -->
      <ng-container *ngIf="book.owner === getLoggedInUserId()">
        <h3>{{ book?.title }}</h3>
        <img *ngIf="book?.img" [src]="book?.img" alt="Book Cover" />
        <p>Author: {{ book?.author }}</p>
        <!-- Add other book details here as needed -->
      </ng-container>
    </div>
  </div>
</div>

