
.book-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.book {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  border: 2px solid orange; 
  border-radius: 10px; 
  padding: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


.book img {
  max-width: 100%;
  max-height: 250px; 
  margin-bottom: 10px;
}


h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center; 
}


.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center; 
}


button {
  background-color: red; 
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px; 
  cursor: pointer;
  margin-top: 10px;
}
