<div class="catalog-container">
  <h1>Book Catalog</h1>
  <div *ngIf="loading">
    <p>Loading...</p>
  </div>
</div>

<!-- Add buttons for each book category (visible only to logged-in users) -->
<div *ngIf="isLoggedIn" >
  <div  class="category-buttons">
    <h3>Filter by genre</h3>
    <button  *ngFor="let category of categories"  (click)="filterByCategory(category)">
      {{ category }}
    </button>
  </div>
</div>

<!-- Wrap the book divs in a container for the grid layout -->
<div class="book-grid-container">
  <div class="book"  *ngFor="let book of filteredBooks">
    <h3>{{ book.title }}</h3>

    <!-- Display the book's image -->
    <img *ngIf="book.img" [src]="book.img" alt="Book Cover" />

    <p>Author: {{ book.author }}</p>
    <p *ngIf="isLoggedIn">Genre: {{ book.category }}</p>
    <button *ngIf="isLoggedIn" (click)="readBook(book.bookId)">Read</button>
  </div>
</div>
