/* home/home.component.css */
/* home/home.component.css */

h1 {
  text-align: center; /* Center the <h1> element */
  padding: 10px 20px; /* Add padding around the <h1> element */
  border: 3px solid orange; /* Add an orange border */
  border-radius: 10px; /* Add rounded corners to the border */
  font-family: 'Your-Font-Name', sans-serif; /* Use your desired font name */
  font-size: 32px; /* Set the font size */
  color: #333; /* Set the text color (change as needed) */
  background-color: #ffcc99; /* Set the background color to a lighter shade of orange */
}

.featured-book {
  text-align: center;
  padding: 20px;
}

.book {
  max-width: 400px; /* Increase the maximum width for a bigger image */
  margin: 0 auto;
  border: 2px solid orange; /* Add a border with orange color */
  border-radius: 10px; /* Add rounded corners */
}

.book img {
  width: 100%;
  max-height: auto; /* Set max-height to 'auto' to show the full image size */
  border-radius: 8px; /* Add rounded corners to the image */
}

.book h3 {
  margin-top: 10px;
}

.book p {
  color: #666;
}

.price {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px 0;
}

.btn-buy {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-categories {
  text-align: center;
  padding: 20px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  max-width: 200px;
  margin: 10px;
}

.category img {
  width: 100%;
  border-radius: 5px;
}

.category h3 {
  margin-top: 10px;
}
