<div class="featured-book">
  <h1>Welcome to our library! The greatest place for bookworms</h1>
  <h2>Most Wanted</h2>
  <div class="book" *ngIf="books.length > 0">
    <img src="{{ books[0].img }}" alt="Featured Book" />
    <div class="book-details">
      <h3>{{ books[0].title }}</h3>
      <p>Author: {{ books[0].author }}</p>
      <!-- <p class="price">$19.99</p>
      <button class="btn-buy">Buy Now</button> -->
    </div>
  </div>
  <div class="book" *ngIf="books.length <= 0">
    
    
      
      <p>There are no books in the library</p>
      
    
  </div>
</div>
