<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="/about">About</a></li> -->
    <li><a routerLink="/catalog">Catalog</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/create">Create</a></li>

    <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/profile">My library</a></li>
    <li *ngIf="isLoggedIn"><a (click)="onLogout()">Logout</a></li>
  </ul>
</nav>
